{% extends 'plt/base.html' %} {% block contenido %}
<h1>About</h1>
<p>
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum dicta
  explicabo numquam iste laudantium ad dolorem, dolores nemo ut itaque natus
  nesciunt dolor omnis? Qui quaerat officia quam autem corporis cum minima
  aliquid aperiam nulla sunt quod hic provident, laborum, voluptatum tempora
  aliquam temporibus minus. Adipisci rem illo vel ipsa, praesentium quae quos
  repellendus libero assumenda molestiae minus labore rerum ea doloribus commodi
  magnam cum amet maxime voluptatum iusto! Ullam facilis quia velit ipsum
  corporis expedita adipisci doloremque, non amet voluptatibus, molestiae ex
  vero aperiam repellendus nulla odit repudiandae nemo similique ab obcaecati
  est libero? Quisquam eius ex eaque illo.
</p>
{% endblock contenido %}
